<div class="col-md-12">
  <h2> Loan Details</h2>
  <div></div>
  <button class="btn btn-success" (click)="addLoan()"> Add Loan</button>
  <button class="btn btn-success" (click)="printTransactions()" style="margin-left: 20px;" > Print Transactions</button>

  
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Account Number</th>
      <th>Account Holder</th>
      <th>Mobile Number</th>
      <th>Loan Amount</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let loan of loans">
      <td class="hidden">{{loan.accountNumber}}</td>
      <td>{{loan.holder}}</td>
      <td>{{loan.mobileNo}}</td>      
      <td>{{loan.loanAmount}}</td>
      <td>
        <button class="btn btn-success" (click)="showBalance(loan)"> Show Balance</button>
        <button class="btn btn-success" (click)="payEmi(loan)" style="margin-left: 20px;"> Pay Emi</button>
        <button class="btn btn-success" (click)="forceLoanClose(loan)" style="margin-left: 20px;" > Force Close</button>
        <button class="btn btn-success" (click)="addLoan()" style="margin-left: 20px;"> Calculate EMI</button>
      </tr>
    </tbody>
  </table>
  <app-alerts></app-alerts>
</div>
