<div class="col-md-6">
  <h2 class="text-center">Apply Loan</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="accountNumber">Account Number:</label>
      <input formControlName="accountNumber" placeholder="Account Number" name="accountNumber" class="form-control" id="accountNumber">
    </div>

    <div class="form-group">
      <label for="holder">Account Holder:</label>
      <input formControlName="holder" placeholder="Account Holder" name="holder" class="form-control" id="holder">
    </div>

    <div class="form-group">
      <label for="mobileNo">Mobile Number:</label>
      <input formControlName="mobileNo" placeholder="Mobile Number" name="mobileNo" class="form-control" id="mobileNo">
    </div>
    
    <div class="form-group">
      <label for="city">City:</label>
      <input formControlName="city" placeholder="City" name="city" class="form-control" id="city">
    </div>

    <div class="form-group">
      <label for="aadharNo">Aadhar Number:</label>
      <input formControlName="aadharNo" placeholder="Aadhar Number" name="aadharNo" class="form-control" id="aadharNo">
    </div>

    <div class="form-group">
      <label for="salary">Salary:</label>
      <input formControlName="salary" placeholder="salary" name="salary" class="form-control" id="salary">
    </div>
    
    <div class="form-group">
      <label for="loanAmount">Loan Amount:</label>
      <input formControlName="loanAmount" placeholder="Loan Amount" name="loanAmount" class="form-control" id="loanAmount">
    </div>

    <div class="form-group">
      <label for="time">Time Period:</label>
      <input formControlName="time" placeholder="Time Period" name="time" class="form-control" id="time">
    </div>
    
    <div class="form-group">
      <label for="interestRate">Interest Rate:</label>
      <input formControlName="interestRate" placeholder="Interest Rate" name="interestRate" class="form-control" id="interestRate">
    </div>    

    <button class="btn btn-success">Apply Loan</button>
  </form>
</div>
